# Multiple Linear Regression

## Importing the libraries

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

## Importing the dataset

In [2]:
dataset = pd.read_csv('/home/rjoker/DS&ML/Notes/Data/50_Startups.csv')

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

## Dummy Variable

In [5]:
x=pd.get_dummies(dataset["State"],drop_first=True)
x

    Florida  New York
0         0         1
1         0         0
2         1         0
3         0         1
4         1         0
5         0         1
6         0         0
7         1         0
8         0         1
9         0         0
10        1         0
11        0         0
12        1         0
13        0         0
14        1         0
15        0         1
16        0         0
17        0         1
18        1         0
19        0         1
20        0         0
21        0         1
22        1         0
23        1         0
24        0         1
25        0         0
26        1         0
27        0         1
28        1         0
29        0         1
30        1         0
31        0         1
32        0         0
33        1         0
34        0         0
35        0         1
36        1         0
37        0         0
38        0         1
39        0         0
40        0         0
41        1         0
42        0         0
43        0         1
44        0         0
45        0         1
46        1         0
47        0         0
48        0         1
49        0         0

In [6]:
dataset=pd.concat([dataset,x],axis=1)
dataset.head()

#1st Iteration - Dummy Variable and Standardization - 92%
#2nd Iteration - Dummy Variable and Normalization - 
#3rd Iteration - Label Encoder and Standardization - 
#4th Iteration - Label Encoder and Nomalization - 94.8%

,R&D Spend,Administration,Marketing Spend,State,Profit,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,1
1,162597.70,151377.59,443898.53,California,191792.06,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,1,0

In [7]:
dataset.drop("State",axis=1,inplace=True)

In [10]:
dataset.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [8]:
#splitting the Dummy Vraibles Dataset
dataset.columns
x=dataset.loc[:,['R&D Spend', 'Administration', 'Marketing Spend', 'Florida','New York']]
y=dataset.loc[:,"Profit"]

In [9]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

## Label Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
LE=LabelEncoder()

In [ ]:
dataset["State"]=LE.fit_transform(dataset["State"])

In [ ]:
dataset.head()

In [ ]:
x=dataset.iloc[:,[0,1,2,3]]
y=dataset.iloc[:,4]

In [ ]:
x.head()

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
x_train.head()

## Training the Multiple Linear Regression model on the Training set

In [ ]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [ ]:
lm.fit(x_train,y_train)

In [ ]:
y_test

## Predicting the Test set results

In [ ]:
pred=lm.predict(x_test)
pred

In [ ]:
x_test

In [ ]:
lm.predict([[251229.19,19947.93,115265.10,0,0,1]])

In [ ]:
lm.intercept_

In [ ]:
lm.coef_

## Checking the Score with Adjusted R2

In [ ]:
from sklearn.metrics import r2_score

### Adjusted R2
R2 shows how well terms (data points) fit a curve or line. Adjusted R2 also indicates how well terms fit a curve or line, but adjusts for the number of terms in a model. If you add more and more useless variables to a model, adjusted r-squared will decrease. 

Both R2 and the adjusted R2 give you an idea of how many data points fall within the line of the regression equation. However, there is one main difference between R2 and the adjusted R2: R2 assumes that every single variable explains the variation in the dependent variable. The adjusted R2 tells you the percentage of variation explained by only the independent variables that actually affect the dependent variable.

In [ ]:
r2_score(y_test,pred)

#93% with Dummy Variables

#93% with Label Encoder