# Data type

Data Structures - 
1. Lists
2. Dictionary
3. Sets 
4. Tuples

Lists [ ] - They are the Data Structures that holds any kind(numeric values, string/text values, float values, etc..) of data, and we can also store nested list values. Lists are mutable(changable), that means we can change the values, also we can remove the values.

Dictionary {"key1":"[Values1,value2,value3.....]"} ----
{"key1":"Value1","key2":"value2","key3":["Value1","Value2",......]
- Dicitonary is also a kind of data structure , where we need to define keys and values seperately . Dictionary are also mutable, but we need to specify the key, if we want to change the value

Sets {1,2,3,4,5,2,3,5,6 } - The property of the sets is they will only display the unique values. They are not mutable, that means we cannot change the values.

Tuple ( ) - Tuples are very similar to lists, that means we can store any kind of value we want, Tuples also support nested tuples, But the major difference between tuple and lists is, Tuples are immutable(values cannot be changed).

In [1]:
#Tuples

star=(1,2,3,4,1,2,5,6,2,3,4,5)
star

(1, 2, 3, 4, 1, 2, 5, 6, 2, 3, 4, 5)

In [2]:
type(star)
#len(star)

tuple

In [3]:
star

(1, 2, 3, 4, 1, 2, 5, 6, 2, 3, 4, 5)

In [4]:
5+25

30

In [8]:
" Hello, GoodMorning "

' Hello, GoodMorning '

In [9]:
2 / 4

0.5

In [11]:
#print(10+10)
print("Good Afternoon")
print(25+5)
"hello World"

Good Afternoon
30

'hello World'

In [14]:
#Squaring the Number

5*5*5*5*5
5**5

3125

In [17]:
14 % 2

0

In [ ]:
7 % 2

In [18]:
(11 + 29) * (12 + 29) + (121+345) + (68+922) - (85*455) / (155+976)-(623+294)

2144.8045977011493

# Variable Assignment

# Part of exercise - please assign new variable names while including below given symbols                  

:'",<>/?|\!@#%^&*~-+

In [22]:
# Can not start with number or special characters
car = 2

In [23]:
car

2

In [25]:
x

20

In [24]:
x = 20
y = 3

In [26]:
z = x + y
z

23

In [27]:
z

23

# Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
"That's how's a person's play's football's"

In [ ]:
" Hello 55 World @!?? 87'6 efgdtrs 5453 ghftrfs "

In [ ]:
'He Said."Hello"'

### Printing

In [ ]:
x = 242424
x

In [ ]:
print(x)

# Create a sentence where the outpt will generate name of the person, desingation, age, gender and salary

In [28]:
num = 12
name = "Sam"
num1=23
name1="John"
num2=25
name2="Sandy"

In [34]:
print('My Age is: {one}, and my Name is: {two}'.format(one=num2,two=name))

My Age is: 25, and my Name is: Sam

In [36]:
print('My Age is: {}, and my name is: {}'.format(num,name))

My Age is: 12, and my name is: Sam

### Lists

In [37]:
len([1,2,3])
['hi',1,[1,2],(1,3)]

['hi', 1, [1, 2], (1, 3)]

In [49]:
sun=["Moon","Earth","Mars"]
sun

['Moon', 'Earth', 'Mars']

## Extend Function

In [42]:
sun.extend(["Neptune","Saturn","Uranus"])
sun

['Moon', 'Earth', 'Mars', 'Neptune', 'Saturn', 'Uranus']

## Append Function

In [48]:
#sun.append("Jupiter")
sun.append(["Pluto","Neptune"])
sun

['Moon', 'Earth', 'Mars', 'Jupiter', ['Pluto', 'Neptune']]

## Insert Function

In [73]:
sun=["Moon","Earth","Mars"]
sun.extend(["Neptune","Saturn","Uranus"])
sun

['Moon', 'Earth', 'Mars', 'Neptune', 'Saturn', 'Uranus']

In [70]:
#Index Position Number
sun.insert(5,["Solar System","Pluto","Galaxy"])
type(sun)

id(sun)

81750088

# Deletion of Lists

## del

In [71]:
del sun

In [74]:
sun

['Moon', 'Earth', 'Mars', 'Neptune', 'Saturn', 'Uranus']

## remove

In [75]:
sun.remove("Moon")
sun

['Earth', 'Mars', 'Neptune', 'Saturn', 'Uranus']

## pop

In [76]:
sun.pop(2)
sun

['Earth', 'Mars', 'Saturn', 'Uranus']

In [84]:
my_list = ['a','b','c']
my_list
len(my_list)
type(my_list)

list

In [85]:
#Append adds a new element into the pre-existing object/variable
my_list.append('d')
my_list.append('1')
my_list.append("K")
my_list.append(["Karan","Mehta","Hi"])
my_list.append(["T","H"])

In [93]:
my_list

['a', 'b', 'c', 'd', '1', 'K', ['Karan', 'Mehta', 'Hi'], ['T', 'H']]

In [92]:
my_list[6][1]

'Mehta'

In [95]:
my_list[4]="New Delhi"

In [96]:
my_list

['a', 'b', 'c', 'd', 'New Delhi', 'K', ['Karan', 'Mehta', 'Hi'], ['T', 'H']]

In [ ]:
#Object Slicing
my_list[7][1]

In [97]:
#Negative Object Slicing
my_list[-6]

'c'

In [ ]:
my_list[-3]
my_list

In [ ]:
#Sequence
my_list[:5]

In [ ]:
my_list[:7]
my_list[2:]
my_list[2:5]
my_list

In [ ]:
#Replacing List Element
my_list[6] = 'Python'
my_list[7][0]="Tree"
my_list[7][1]="Hat"

In [ ]:
my_list

In [ ]:
#Nesting List
nest = [1,2,3,[4,5,['target',"Hello","Hi"]]]
nest

In [102]:
#nest[3][2][1]
smoke

['Hi Guys',
 ['Welcome',
  'to',
  'this Session',
  ['We', 'will', 'be', 'performing a simple', 'exercise'],
  'that',
  'will',
  'only require',
  '10 Minutes'],
 'of time']

In [99]:
#(wills from the sentence, 10 Minutes, exercise, of time, Welcome and performing a simple)

In [ ]:
#Appending a new element into a nested list
nest[3][2].append("Earth")

In [ ]:
nest

In [ ]:
nest[3][2][1]

In [100]:
smoke=["Hi Guys",["Welcome","to","this Session",["We","will","be","performing a simple","exercise"],"that","will","only require","10 Minutes"],"of time"]

In [ ]:
smoke

In [ ]:
#(wills from the sentence, 10 Minutes, exercise, of time, Welcome and performing a simple)

In [103]:
print(smoke[1][3][1], smoke[1][5], smoke[1][7], smoke[1][3][4], smoke[2], smoke[1][0], smoke[1][3][3])

will will 10 Minutes exercise of time Welcome performing a simple

In [104]:
smoke

['Hi Guys',
 ['Welcome',
  'to',
  'this Session',
  ['We', 'will', 'be', 'performing a simple', 'exercise'],
  'that',
  'will',
  'only require',
  '10 Minutes'],
 'of time']

In [108]:
# 10 Minutes

smoke[1][7]

'10 Minutes'

In [109]:
# exercise

smoke[1][3][4]

'exercise'

In [110]:
#of time
smoke[2]

'of time'

In [111]:
#Welcome

smoke[1][0]

'Welcome'

In [112]:
#performing a simple

smoke[1][3][3]

'performing a simple'

### Dictionaries

In [115]:
d = {'key1':'item1','key2':'item2',"key3":["item1","item2","item3"]}
type(d)

dict

In [116]:
d["key3"]

['item1', 'item2', 'item3']

In [117]:
type(d)
#d["key3"][0]="Karan"
d["key2"]="Friday"
d

{'key1': 'item1', 'key2': 'Friday', 'key3': ['item1', 'item2', 'item3']}

In [132]:
d1={"Name":["Ram","Shyam","Joseph","Jerry"],"Age":[23,24,25,26],"Location":["Delhi","Mumbai","Chennai","Pune"]}
d1

{'Name': ['Ram', 'Shyam', 'Joseph', 'Jerry'],
 'Age': [23, 24, 25, 26],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune']}

In [133]:
import pandas as pd
pd.DataFrame(d1)

     Name  Age Location
0     Ram   23    Delhi
1   Shyam   24   Mumbai
2  Joseph   25  Chennai
3   Jerry   26     Pune

In [136]:
Saturday=[
    ("p0","q1",1,2),
    ("p1","q2",3,4),
    ("p2","q3",5,6),
    ("p3","q4",7,8)
]
Saturday

[('p0', 'q1', 1, 2),
 ('p1', 'q2', 3, 4),
 ('p2', 'q3', 5, 6),
 ('p3', 'q4', 7, 8)]

In [137]:
import pandas as pd
star=pd.DataFrame(Saturday)
star
#install is not recognzed as in internal or external command

    0   1  2  3
0  p0  q1  1  2
1  p1  q2  3  4
2  p2  q3  5  6
3  p3  q4  7  8

In [ ]:
Saturday=pd.DataFrame(Saturday)
Saturday

In [ ]:
star=star.append({"Name":"TOM","Age":29,"Location":"Bihar"},ignore_index=True)

In [ ]:
star

In [ ]:
star

In [ ]:
d1

In [ ]:
#Accesing elements with key
print(d1["Name"])
print(d1["Age"])
print(d1["Location"])

In [138]:
d1

{'Name': ['Ram', 'Shyam', 'Joseph', 'Jerry'],
 'Age': [23, 24, 25, 26],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune']}

In [142]:
#Checkinf if Dictionary contains the key["Numeric"  and "Character" Keys]
"Name" in d1
"Salary" in d1
"Location" in d1
d1

{'Name': ['Ram', 'Shyam', 'Joseph', 'Jerry'],
 'Age': [23, 24, 25, 26],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune']}

In [143]:
#Inserting new key and value
d1["Sun"]=["Moon","Earth","Mercury","Venus","Mars",123]
d1

{'Name': ['Ram', 'Shyam', 'Joseph', 'Jerry'],
 'Age': [23, 24, 25, 26],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune'],
 'Sun': ['Moon', 'Earth', 'Mercury', 'Venus', 'Mars', 123]}

In [144]:
#Inserting a new Numeric Key and value
d1[786]=[100,150,200]
d1

{'Name': ['Ram', 'Shyam', 'Joseph', 'Jerry'],
 'Age': [23, 24, 25, 26],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune'],
 'Sun': ['Moon', 'Earth', 'Mercury', 'Venus', 'Mars', 123],
 786: [100, 150, 200]}

In [145]:
raw={"Sun":["Moon","Earth","Mercury","Venus","Mars"]}
type(raw)

dict

In [146]:
#replacing the elements/values
raw["Sun"]=["Ram","Shyam","Mohan"]
raw

{'Sun': ['Ram', 'Shyam', 'Mohan']}

In [147]:
raw["Sun"].append(["jupyter","moon"])
raw

{'Sun': ['Ram', 'Shyam', 'Mohan', ['jupyter', 'moon']]}

In [148]:
#Appending the new values
#Whether the append function works with Dictionary or not?
raw["Sun"].extend(["Jupyter","Moon"])
raw
#Update and Insert, extend

{'Sun': ['Ram', 'Shyam', 'Mohan', ['jupyter', 'moon'], 'Jupyter', 'Moon']}

In [ ]:
raw

In [149]:
#Deleting whole dictionary
del d1
d1
# If you have executed this command the whole object will get removed To work again with the dictionary object please-
#-execute the d1 commands from beginning.

NameError: name 'd1' is not defined

In [150]:
d1={"Name":["Karan","Karan1","Karan2","Karan3"],"Age":[23,24,25,26],"Location":["Delhi","Mumbai","Chennai","Pune"]}
d1

{'Name': ['Karan', 'Karan1', 'Karan2', 'Karan3'],
 'Age': [23, 24, 25, 26],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune']}

In [151]:
#Deleting key in Dictionary but first again run the codes
del d1["Age"]
d1

{'Name': ['Karan', 'Karan1', 'Karan2', 'Karan3'],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune']}

In [152]:
#Removing values in Key
del d1["Name"][0]
d1
#Type the Output in chat box

{'Name': ['Karan1', 'Karan2', 'Karan3'],
 'Location': ['Delhi', 'Mumbai', 'Chennai', 'Pune']}

In [ ]:
d1

# Input

In [157]:
name=input("What's your name ")
age=int(input("What's your age "))

print("\n")
print("Hi!",name,"Welcome and your age is ",age)

What's your name Karan
What's your age 12345


Hi! Karan Welcome and your age is  12345

In [158]:
name=input("What's your name ")
age=int(input("WHat's your age "))
salary=int(input("What's your salary "))
print("\n")
print("Hi!, your name is ",name,"\n","Your age is",age,"\n","Your salary is",salary,"\n","Thank you","and Nice to meet you")

#Name, Age, Salary, Location, Address, Phone Number, Account Number(10 Digit), AAdharCard(), State.

What's your name Karan
WHat's your age 1234
What's your salary 1234


Hi!, your name is  Karan
 Your age is 1234
 Your salary is 1234
 Thank you and Nice to meet you

In [163]:
int(str(18))
int("Karan")

ValueError: invalid literal for int() with base 10: 'Karan'

In [164]:
#list
list1=[23,45,56,78,90,32,54,76,89,0,21,12,101,151,134,3,4,5]
#sort()
#sorted()

18

In [171]:
list1.sort(reverse=False)
list1

[0, 3, 4, 5, 12, 21, 23, 32, 45, 54, 56, 76, 78, 89, 90, 101, 134, 151]

In [169]:
sorted(list1,reverse=True)

[151, 134, 101, 90, 89, 78, 76, 56, 54, 45, 32, 23, 21, 12, 5, 4, 3, 0]

In [ ]:
list1

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples 

1. ( )
2. tuple()

In [178]:
t = (1,2,3,"Hi",[1,2,3,4])

In [179]:
t

(1, 2, 3, 'Hi', [1, 2, 3, 4])

In [183]:
type(t)
t[0]=444
t

TypeError: 'tuple' object does not support item assignment

In [ ]:
t
tuple()
list()
set()
dict()

In [173]:
list1=list(t)
list1

[1, 2, 3, 'Hi', [1, 2, 3, 4]]

In [177]:
#From Hi to Bye
#list1[3]="Bye"
tuple(list1)
#Index Position Number

tuple

In [ ]:
list1[4][2]="Good"
print(list1)

In [ ]:
#Nested Tuple
nested_tup=(4,5,6,(7,8))
nested_tup
#try the slicing exercise with nested tuples

In [ ]:
nested_tup[3][1]

In [ ]:
#Converting any string or sequence into the tuple
tup=tuple([1,2,3,4,5])
print(tup)
tup1=tuple("Good Morning")
tup1
#Tuples are immutable they cannot be changed.
#Minor Exercise - Try to append any element in existing tuple oject.
#Delete/Remove
#Replace

In [ ]:
#Trying to replace an element
#tup[0] = 'NEW'

In [ ]:
t=tuple("Good Morning")
t=t+(" ","L","O","L")
t

### Sets

In [184]:
x={1,2,3,1,9,9,9,2,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6}
x1=[1,2,3,1,9,9,9,2,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6]
print(x)

print()

print(x1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

[1, 2, 3, 1, 9, 9, 9, 2, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2, 4, 5, 5, 5, 5, 5, 6, 6, 7, 8, 6]

In [ ]:
s1={1,2,3,4}
s1.pop()
print(s1)

In [ ]:
#Uniquely identified the elements
print({1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6})
[1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4,5,5,5,5,5,6,6,7,8,6]

#                          Minor Exercise
#appending
#object slicing
#removing any element
#replacing with one element and multiple elements

In [ ]:
#Adding new Element into Sets
#x.add((24,34))
#x
#Replacing of Sets
s = {1,2,4,43,25,4}
s.update([99,100,101])
print(s)

In [ ]:
x1={(1, 2, 3), -7, 1, 2, 3, 4, 5, 6, 7, 8}
x1
x2=[1,2,3,"Hello",("Hi",23,45,67)]
x2

## Comparison Operators

In [ ]:
#Smaller than
1 < 2

In [ ]:
#Greater than
199.99 > 200

In [ ]:
#Greater than equals to
4 >= 1

In [ ]:
#Smaller than Equals to
3 <= 3

In [ ]:
# Equals to
1 == 1.1

In [ ]:
#Not Equals to
1 != 12

In [ ]:
#Equals to
'Hello' == 'hello'

## Logic Operators

In [ ]:
(1 < 2) and (2 > 3) #and

In [ ]:
(1 < 2) & (2 < 3) #and

In [ ]:
(1 > 2) | (2 < 3)  #or

In [ ]:
(1 == 2) | (3 == 3) | (4 == 4)

In [ ]:
(1 == 2) & (3 == 3) & (4 == 4)

In [ ]:
3==4

In [ ]:
if 4==5:
    print("Correct Answer")
else:
    print("Wrong Answer")

## if,elif, else Statements

In [ ]:
#Try with as much different conditions as you can
if 12 < 10:
    print("Right Condition")

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 10 > 8:
    print('Right Condition')
else:
    print("Wrong Condition")

In [ ]:
if "Hi" == "Hi":
    print('first')
else:
    print('last')

In [ ]:
if 1 == 1:
    print('first')
elif 3 == 3:
    print('second')
elif 3==34:
    print("Match Found on Second else if condition")
elif 4==45:
    print("Finally Found!")
else:
    print('Nothig Found')

In [ ]:
if 1 == 1:
    print('first')
if 3 == 3:
    print('second')
if 3==33:
    print("Match Found on Second else if condition")
if 4==4:
    print("Finally Found!")
else:
    print('Nothig Found')

In [ ]:
var1=200

if var1==100:
    print("You got the Number")
else:
    print("You haven't got the Number")

print()   

var2=20
if var2==20:
    print("Now you got the Number")
else:
    print("Sorry Didn't got the number")

In [ ]:
x=26
print("Today's date is " + str(x))
print("Today's date is {}".format(x))

In [ ]:
var=int(input("Please provide a number "))
print()
if var==200:
    print(" You got the number: ",var)
elif var==150:
    print("You have got the Number: "+str(var))
elif var==100:
    print("You have got the Number: {}".format(var))
elif var==300:
    print(f"You have got the Number {var}")
else:
    print("\n","Still haven't got the number")

## for Loops

In [18]:
seq = [1,2,3,4,5,6,7,8,9,10]
seq

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
for star in seq:
    print(star)
    
star

1
2
3
4
5
6
7
8
9
10

10

In [20]:
for fun in "Good Morning":
    print(fun)
fun

seq

G
o
o
d

M
o
r
n
i
n
g

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep
Yep
Yep
Yep
Yep
Yep

In [26]:
#Indentation
for jelly in seq:
    print("{}. Iteration- 10/{}".format(jelly,jelly))
    print(star/jelly)
    print()

1. Iteration- 10/1
10.0

2. Iteration- 10/2
5.0

3. Iteration- 10/3
3.3333333333333335

4. Iteration- 10/4
2.5

5. Iteration- 10/5
2.0

6. Iteration- 10/6
1.6666666666666667

7. Iteration- 10/7
1.4285714285714286

8. Iteration- 10/8
1.25

9. Iteration- 10/9
1.1111111111111112

10. Iteration- 10/10
1.0

In [27]:
for sun in seq:
    print(item)

10
10
10
10
10
10
10
10
10
10

In [28]:
num=[1,2,5,6,7,8,25]

sq=[]

for i in num:
    z=i*i
    print("{}*{}={}".format(i,i,z),"\n")
    sq.append(z)

1*1=1

2*2=4

5*5=25

6*6=36

7*7=49

8*8=64

25*25=625

In [29]:
sq

[1, 4, 25, 36, 49, 64, 625]

## while Loops

In [55]:
i = 0
while i < 10:
    #print(f'i is: {i}') #Latest
    #print("i is:",i)
    #print("i is: {}".format(i)) #Traditional 
    #print("i is: "+str(i))
    i = i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

## list comprehension

In [64]:
#Simple List Comprehension
x=[i+i for i in range(10)]
print(x)
#print([i+i for i in range(10)])

print("\n")

y=[]
for i in range(10):
    y.append(i+i)
print(y)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]


[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
#For Loops vs List Comprehension
sq=[]
for x in range(10):
    sq.append(x**2)
print(sq)

print("\n")

#List Comprehensions
squares=[x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
#For Loops
sq=[]
for x in range(10):
    sq.append(x+2)
print(sq)

print("\n")

#List Comprehensions
squares=[x+2 for x in range(10)]
print(squares)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]


[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
list1=[6,7,8,7,5,1,9]
multiple=[item*(item/3) for item in list1]
print(multiple)

#Execute the code with For Loops as well by using append function.

sq=[]
for i in list1:
    sq.append(i*(i/3))
print(sq)

In [69]:
#Minor Exercise
#Show the output of every 3rd letter from each word

word=["Good","Baddest","Worse","Best","Better","Hello","Python"]

sq=[]
for i in word:
    sq.append(i[3])
print(sq,"Accessing every 4th Elemnet")

print()

fish=[i[1] for i in word]
print(fish,"Accessing every 2nd Element")

['d', 'd', 's', 't', 't', 'l', 'h'] Accessing every 4th Elemnet

['o', 'a', 'o', 'e', 'e', 'e', 'y'] Accessing every 2nd Element

In [70]:
for i in word:
    print(i[2])

o
d
r
s
t
l
t

In [72]:
gun=[]

for i in "human":
    gun.append(i)
print(gun)

['h', 'u', 'm', 'a', 'n']

In [ ]:
gunn=[i for i in "human"]
print(gunn)

## functions

In [73]:
#Basic Function

def fun_session(x):
    return min(x)/max(x)

In [76]:
4/89

0.0449438202247191

In [74]:
kite=[5,6,7,8,9,4,10,14,15,18,21,77,89]
fun_session(kite)

0.0449438202247191

In [ ]:
def multiplication(x,y):
    mult=x*y
    return mult;

multiplication(10,2)

In [77]:
def add(x,y):
    return x+y

add(10,2)

12

In [78]:
def celcius_to_fahre(x):
    fah=((x*1.8)+32)
    print(fah,"Fahrenheit")

celcius_to_fahre(20)

#Exercise1 Convert Fahrenheit to Celcius
#Exercise2 Convert Kilometer per liter to Miles per gallon
#Exercise3 Convert KM/h to meter/second

68.0 Fahrenheit

In [88]:
def add_num(a,b):#function for addition
    add=a+b;
    return add; #return value
num1=int(input("input the number one: "))#input from user for num1
num2=int(input("input the number one :"))#input from user for num2

print("The sum is",add_num(num1,num2))#call te function

input the number one: 10
input the number one :20
The sum is 30

In [89]:
def call(name,age,gender):
    print("hello my name is",name,"i am ",int(age),"year old and my gender is",gender)

In [92]:
call("Karan",22,"Gender")
call("Gender",23,"Karan")
call("Karan",123,"Male")

hello my name is Karan i am  22 year old and my gender is Gender
hello my name is Gender i am  23 year old and my gender is Karan
hello my name is Karan i am  123 year old and my gender is Male

In [93]:
def str_convert(x):
    return str(x)

In [96]:
str_convert("Karan")

'Karan'

In [ ]:
def square(x):
    return x**3

In [ ]:
square(6)

## methods

In [ ]:
st = 'Hello my Name is Sam'
st

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
x=st.split()
x

In [111]:
mes2="I can't wait  to go to the amusement park"
#print(mes2.split("go"),"\n")
print(mes2.split())

['Hello', "can't", 'wait', 'to', 'go', 'to', 'the', 'amusement', 'park']

In [ ]:
#Exercise
ss="my age is 20"
ss1=ss.split()
print(ss1)
ss1[1].upper()

In [ ]:
print(ss1)
ss1[0].upper()

In [ ]:
tweet = 'Go Sports! #Sports'
print(tweet.split("#"))
print(tweet.split("!"))
print(tweet.split("!")[0])
print(tweet.split("!")[1])

In [112]:
tweet = 'Go Sports! #Sports'

#please work on below exercise as well!


#"Good Morning! How's the Day! What time is it?"          #Split the string on !
#"Welcome home buddy! I have got 200$ for shopping"       #Split the string on ! and $ seperately
#"I can't wait to go to the amusement park"               #Transform the strings in upper case.

In [ ]:
print(tweet.split())
print(tweet.split("!"))
print(tweet.split("#"))

In [ ]:
x="Welcome home buddy! I have got 200$ for shopping"
print(x.split("!"))
x.split("$")

In [ ]:
tweet.split('#')

In [120]:
tweet
tweet.split('!')

['Go Sports', ' #Sports']

In [121]:
#Concatenation
[56,"Fish","Sun",99]+[7,6,"Rise",5.55]

[56, 'Fish', 'Sun', 99, 7, 6, 'Rise', 5.55]

In [ ]:
#Sorting
a=[7,4,9,3,1,10,43]
a.sort()
print(a)
a.sort(reverse=True)
a

In [122]:
x=int(input("How many records you want"))
list1=[]
for i in range(x):
    name1=input("Name")
    age1=float(input("Age"))
    list1.extend([name1,age1])
print(list1)

How many records you want3
NameKaran
Age123
Namekaran1
Age123
Namekaran2
Age123
['Karan', 123.0, 'karan1', 123.0, 'karan2', 123.0]

# Great Job!